* {
  box-sizing: border-box;
}

body {
  margin: 0;

  @supports (background-color: hwb(200, 80%, 8%)) {
    background-color: hwb(200, 80%, 8%);
  }

  @supports not (background-color: hwb(200, 80%, 8%)) {
    background-color: #cce0eb;
  }
}

.header, .footer {
  padding: 1rem 4rem;
}

main {
  // estilo por defecto
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // estilo cuando soporta grids
  @supports (display: grid) {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
  }
}

.contest {
  display: flex;
  flex-direction: column;
  gap: 1rem; // gap forma parte de css3 normal
  place-items: center; // igual a justify-items + align-items

  padding: 1rem;

  @supports (display: grid) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  img {
    max-width: 85%;
  }
}

.contest-text {
  display: flex;
  gap: 1rem;
  place-items: center;
  margin-bottom: 2rem;

  @supports (display: grid) {
    display: grid;
  }
  h1, p {
    margin: 0.5rem auto;
  }
  h1 {
    font-family: $font-family-serif;
    font-size: 2.5em;

    background: linear-gradient(to bottom, $black, $default-text-color);
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
  p {
    font-family: $font-family-sans-serif;
    font-size: 1.25em;
    font-weight: 400;
  }
  button {
    cursor: pointer;

    padding: 1rem 2rem;

    font-size: 1.1em;
    font-weight: 600;
    color: $white;

    background-color: $default-text-color;
    border: none;
    border-radius: 5px;
  }
}

.footer {
  background-color: $white;
}