@import "./lib/swiper";
@import "../variables";
@import "bootstrap/scss/bootstrap";

body {
    margin: 0;
}
section :is(p:first-of-type) {
    max-width: 90%;
    line-height: 1.4em;
    font-size: 1.2em;
    font-family: $font-family-serif;
}
:is(h1) {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto;
    font-family: $font-family-sans-serif;
    color: hwb(195 45% 20%);
}
:is(p.lead-text) {
    font-weight: 400;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: large;
    text-shadow: 0px 1px 0px rgb(225, 210, 210);
}
iframe {
    max-width: 99dvw;
    align-self: center;
}

// Containers
.contest-previous {
    container: slider / inline-size;
}
.contest-current {
    container: form / inline-size;
}

@container slider (max-width: 768px) {
    .swiper {
        width: 100%;
    }
}

@container form (max-width: 480px) {
    legend {
        text-align: center;
        margin-top: 0.5rem;
    }
    .contest-current__form {
        width: 98svw;
    }
}
