@import "../variables";
@import "bootstrap/scss/bootstrap";

:where(h1, h3) {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}
:where(main > article) {
    background-color: lighten($default-text-color, 40);
}
:is(main, .card, li) {
    // aqui no funciona :where (porque tiene especifidad 0 y estilos de bootstrap lo machaca). para solucionarlo se puede usar @layer
    color: $default-text-color;
}
:is(details, h3) {
    margin: 1.5rem 0;
}
blockquote:has(p, footer) {
    line-height: 1.65;
    text-shadow: 1px 1px 2px #e7d1bb;
}
img {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.40);
}
.events {
    padding: 1.5rem;
    border-top: 2px solid lighten($default-text-color, 40);
    border-bottom: 2px solid lighten($default-text-color, 40);
    &__list {
        list-style: circled-numbers;
        li {
            padding-left: 0.25rem;
            display: list-item;
        }
    }    
}
