@import "../variables";
@import "bootstrap/scss/bootstrap";

main {
    color: $default-text-color;
}
.events {
    padding: 1.5rem;
    border-top: 2px solid lighten($default-text-color, 40);
    border-bottom: 2px solid lighten($default-text-color, 40);
}
.events__list {
    list-style: circled-numbers;
    li {
        padding-left: 0.25rem;
    }
}
