<footer>
    <section class="footer__contacts">
        <div class="footer__contacts-address">
            <h3>Our Address</h3>
            <ol>
                <li>Calle Callejero 22, 1-1</li>
                <li>08025, Barcelona, España</li>
            </ol>
        </div>
        <div class="footer__contacts-phoneEmail">
            <h3>Phone or Email Us</h3>
            <ol>
                <li>+34 666555888</li>
                <li>momomakers@gmail.com</li>
            </ol>
        </div>
    </section>

    <section class="footer__links">
        <div class="footer__separator"></div>

        <div class="footer__pages">
            <div class="footer__pages-logo">
                <img src="/src/assets/images/logo.png" alt="Logo">
            </div>
            <nav class="main__nav">
                <ul>
                    <li>
                        <a class="nav-link" href="#">Front Page</a>
                    </li>
                    <li>
                        <a class="nav-link" href="views/pages/page2.html">Page
                            Two</a>
                    </li>
                    <li>
                        <a class="nav-link" href="views/pages/page3.html">Page
                            Three</a>
                    </li>
                    <li>
                        <a class="nav-link" href="views/pages/page4.html">Page
                            Four</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__pages-social">
                <ul>
                    <li>
                        <a href="https://www.google.com" target="_blank">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>
