<!-- Slider main container -->
<div class="swiper winnerSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../assets/images/winner_pizza.jpg" alt="winner 2023">
        </div>
        <div class="swiper-slide">
            <img src="../assets/images/runner-up-pizza-1.jpg"
              alt="first runner up 2023">
        </div>
        <div class="swiper-slide">
            <img src="../assets/images/runner-up-pizza-2.jpg"
              alt="second runner up 2023">
        </div>
        <div class="swiper-slide">
            <img src="../assets/images/special-pizza-maker.jpg"
              alt="special chef">
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
