<main class="home">
    <section class="header">
        <include src="./views/header.html"></include>
    </section>

    <section class="contest">
        <img src="/src/assets/images/banner.jpg" alt="banner">
        <div class="contest-text">
            <h1>The sacred festival of MOMO makers</h1>
            <p>Participate to show your skills and win amazing prizes</p>
            <button>LET'S GO !!</button>
        </div>
    </section>

    <section class="footer">
        <include src="./views/footer.html"></include>
    </section>
</main>
