<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Contest</title>
        <link rel="stylesheet" href="../assets/styles/layouts/_page3.scss">
    </head>
    <body>
        <main class="container-fluid p-2">

            <article
              class="container-fluid d-flex flex-column align-items-center p-4 mb-5">
                <h1 class="text-center p-2">Welcome to Our Momo Contest</h1>
                <div class="banner-image p-3">
                    <img src="../assets/images/submit-your-recipe.jpg"
                      class="img-fluid" alt="food main banner">
                </div>
                <div class="col-10 my-4 fw-normal text-center lh-2">
                    <p>
                        In Barcelona's bustling streets, a prestigious food
                        contest
                        unfolds, drawing gastronomes from far and wide. Nepali
                        chefs take center stage, crafting the beloved delicacy,
                        momos, with care and expertise. The contest is a
                        celebration of culinary artistry,
                        where chefs showcase their skills and creativity.
                    </p>
                    <details class="my-4">
                        <summary>... Read more</summary>
                        <p class="my-2 fw-lighter">
                            The
                            competition
                            is fierce, with each participant vying for the
                            coveted
                            title
                            of "Best Momos in Barcelona." The event is a feast
                            for the senses, with the aroma of spices wafting
                            through the air and the sound of sizzling pans
                            filling the room. As the judges deliberate, the
                            tension mounts, and the crowd waits with bated
                            breath for the final verdict. Who will emerge
                            victorious in this culinary showdown? Only time will
                            tell.
                        </p>
                    </details>
                    <div class="fw-bolder">by Author One</div>
                </div>
            </article>

            <section
              class="card container col-md-8 d-flex flex-column align-items-center p-4 mb-4">
                </aside>
                <aside class="quotes d-flex justify-content-start ms-auto mb-4">
                    <blockquote class="blockquote col-6 px-4 text-start">
                        <p class="my-2 align-self-center">"This year's momo
                            contest will be the best.
                            The
                            chefs have been working hard and the competition is
                            fierce. Can't wait
                            to see who will come out on top."
                        </p>
                        <footer class="fw-lighter">- Bijay Timilsina,
                            <cite>CEO Nepali Foods</cite>
                        </footer>
                    </blockquote>
                    <p class="px-4 my-2">Each momo bite tells a story of
                        culinary
                        heritage, blending
                        tradition with innovation. As anticipation mounts, food
                        enthusiasts gather, eager to sample the offerings and
                        witness culinary magic. Barcelona becomes a cultural
                        crossroads, where Nepali flavors harmonize with the
                        city's vibes, creating an unforgettable experience for
                        all.</p>
                </aside>
                <div class="events mt-2">
                    <ol class="events__list col-md-10">
                        <li>
                            <h6>Steam momo</h6>
                            <p class="fw-lighter">Steamed momo, a Nepali
                                culinary delight, features
                                tender dough parcels enveloping succulent
                                fillings, offering a delectable burst of flavors
                                in every bite.</p>
                        </li>
                        <li>
                            <h6>Kothe momo</h6>
                            <p class="fw-lighter">Kothe momo, a beloved Nepali
                                delicacy, tantalizes
                                taste buds with its flavorful filling encased in
                                delicate dough. These bite-sized dumplings,
                                typically pan-fried to perfection, are a
                                delightful fusion of savory spices and tender
                                meat or vegetable fillings.</p>
                        </li>
                        <li>
                            <h6>Momo chilly</h6>
                            <p class="fw-lighter">A spicy rendition of this
                                classic dish, adds a
                                fiery kick to the traditional recipe, creating a
                                tantalizing harmony of heat and savory goodness.
                            </p>
                        </li>
                    </ol>
                </div>
                <section class="recommendations px-2 my-2">
                    <blockquote class="blockquote mb-3">"Winning the food
                        contest was
                        like a dream come true. It wasn't just about the
                        victory, but the opportunity to share a taste of my
                        culture and heritage with the world through food.<br>
                        <em class="ps-2 pt-2"><strong>Bikash</strong> - winner
                            of
                            Momo Contest
                            2023</em>"
                    </blockquote>
                    <p>
                        <em>Bikash</em>, a passionate restaurateur and acclaimed
                        chef,
                        embodies the essence of culinary excellence and
                        innovation. As both the owner and creative force behind
                        his restaurant, Safal seamlessly blends
                        traditional Nepali flavors with contemporary techniques,
                        crafting gastronomic masterpieces that captivate the
                        senses. With a keen eye for detail and an unwavering
                        commitment to quality, Safal has not only earned
                        recognition as a previous contest winner but has also
                        garnered a loyal following of food enthusiasts who flock
                        to experience his culinary creations.
                    </p>
                </section>
            </section>

            <section
              class="container-fluid d-flex flex-column align-items-center p-2">
                <figure class="figure">
                    <img src="../assets/images/winner2023.jpg" class="img-fluid"
                      alt="submit recipe">
                    <figcaption class="figure-caption">Bikash, with his winning
                        dish of 2023</figcaption>
                </figure>
                <div class="rules col-md-8 my-4">
                    <article class="mb-3">
                        <h3 class="my-4">Prizes:</h3>
                        <p class="fw-normal ps-2">The highly anticipated food
                            contest
                            boasts enticing rewards
                            for its participants, with a grand prize of €5000
                            awaiting
                            the champion, along with the esteemed title of
                            culinary
                            excellence. The runner-up isn't left empty-handed
                            either, as
                            they claim a commendable €2000 prize for their
                            culinary
                            prowess. Additionally, other top contenders are also
                            recognized for their exceptional talents, with
                            generous
                            prizes awarded accordingly, fostering a spirit of
                            celebration and camaraderie within the culinary
                            community.
                        </p>
                    </article>
                    <article class="mb-3">
                        <h3 class="my-4">Basic Rules:</h3>
                        <p class="fw-normal ps-2">The rules of the competition
                            dictate that participants
                            must
                            showcase their culinary prowess by creating
                            delectable
                            momos, the quintessential Nepali delicacy, within a
                            tight
                            timeframe of just one hour. While creativity is
                            encouraged,
                            adherence to traditional momo-making techniques and
                            ingredients remains paramount, ensuring authenticity
                            and
                            honoring the rich heritage of Nepali cuisine.
                        </p>
                    </article>
                </div>
            </section>
        </main>
    </body>
</html>
