<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Contest</title>
        <link rel="stylesheet" href="../assets/styles/layouts/_page4.scss">
        <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </head>
    <body>
        <h1>Pizza Contest 2023</h1>
        <p>Last year, we had a pizza contest and it was a huge success. We had
            participants from all over the world showcasing their unique pizza
            creations. The judges had a tough time deciding the winners as every
            pizza was delicious in its own way. This year, we are back with
            a new Momo Contest 2024 and we are expecting even more excitement
            and
            mouth-watering food. Don't miss out on this amazing event!</p>
        <p>Below are some of the captures from last year.</p>
        <!-- Slider main container -->
        <div class="swiper winnerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../assets/images/winner_pizza.jpg"
                      alt="winner 2023">
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/runner-up-pizza-1.jpg"
                      alt="first runner up 2023">
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/runner-up-pizza-2.jpg"
                      alt="second runner up 2023">
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/special-pizza-maker.jpg"
                      alt="special chef">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </body>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../assets/scripts/swiper.js"></script>
</html>
