<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css"
          href="../assets/styles/layouts/_page2.scss">
        <!-- do not remove this line! -->
        <title>Participantes del Concurso</title>
    </head>
    <body>
        <main class="chef">
            <h1>Best chefs</h1>
            <section class="chef__container">

                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef1.jpeg" alt="Chef 1">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef One
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef2.jpeg" alt="Chef 2">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Two
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef3.jpeg" alt="Chef 3">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Three
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef4.jpeg" alt="Chef 4">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Four
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef5.jpeg" alt="Chef 5">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Five
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef6.jpeg" alt="Chef 6">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Six
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
                <div class="chef__item">
                    <div class="chef__image">
                        <img src="../assets/images/chef7.jpeg" alt="Chef 7">
                    </div>
                    <div class="chef__description">
                        <h4 class="chef__description--title">
                            Chef Seven
                        </h4>
                        <p class="chef__description--subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed
                            baskia doeis
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
