@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

footer {
    display: grid;
    grid-template: minmax(12rem, auto) 1fr / 1fr;
    font-family: "Open Sans", sans-serif;
}
.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    container: contacts / inline-size; // shorthand style
    ol, ul {
        list-style-type: none;
        padding: 0;
        li {
            margin: auto auto 0.5rem 0.5rem;
        }
    }
}

.footer__pages {
    display: grid;
    grid-template-columns: 1fr 1.75fr 1fr;
    place-items: center;
    nav {
        justify-self: auto;
        li {
            padding: 1rem;
        }
    }
}
.footer__separator {
    border-top: 1px solid oklch(89.12% 0.047 254);
    margin: 1rem auto;
    @supports not (color: oklch(89.12% 0.047 254)) {
        border-top-color: rgb(226, 226, 226);
    }
}
.footer__pages-logo {
    img {
        max-height: 4rem;
    }
}
.footer__pages-social {
    ul {
        display: grid;
        justify-content: center;
        grid-auto-flow: column;
        margin: 0;
        padding: 0;
        gap: calc(1.5rem + 0.25vw);
        list-style: none;
    }
    i {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@container contacts (min-width: 768px) {
    .footer__contacts-address, .footer__contacts-phoneEmail {
        h3 {
            font-size: 1.8rem;
            text-shadow: 2px 1px 2px rgba(112, 110, 110, 0.5);
        }
    }
}

@container contacts (max-width: 769px) {
    .footer__contacts-address, .footer__contacts-phoneEmail {
        h3 {
            font-size: 1.6rem;
            text-shadow: 1px 2px 1px rgba(146, 142, 142, 0.5);
        }
    }
}
