header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.logo img {
    max-height: 4rem;
}

@layer components {
    .main__nav {
        container: links / normal; // only for styling purposes
        justify-self: end;
        ul {
            display: flex;
            gap: calc(0.8rem + 0.2vw);
            justify-content: space-around;

            padding: 0;

            font-family: $font-family-sans-serif;
            font-size: 1.1em;
            font-weight: bold;
            list-style: none;
            li {
                padding: 0.5rem;
                &:hover {
                    transform: scale(1.04);
                    background-color: #c1d4e6;
                    border-radius: 5px;
                    transition: transform 0.4s ease;
                }
            }
        }
        a {
            color: $default-text-color;
            text-decoration: none;
        }
    }   
}

@container links (min-width: 399px) {
    nav ul {
        font-size: 0.8em;
        font-weight: normal;
    }
}

@container links (max-width: 400px) {
    nav ul {
        font-size: 1.2em;
        font-weight: bold;
    }
}